@charset "utf-8";

.loading {
  opacity: 1;
  visibility: visible;
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100vh;
  background: #d4d1cc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  pointer-events: none;
  transition: visibility 1.1s ease, opacity 1.1s ease;
  &__loader {
    height: 10rem;
    width: 10rem;
    text-align: center;
    padding: 1rem;
    margin: 0 auto 0.2rem;
    display: inline-block;
    vertical-align: top;
    svg {
      height: 10rem;
      width: 10rem;
    }
  }
  &__text {
    font-size: 1.2rem;
    font-weight: 100;
    color: $white-color;
  }
  &__loader {
    svg path,
    svg rect {
      fill: $white-color;
    }
  }
}

.loading--hide {
  .loading {
    opacity: 0;
    visibility: hidden;
    transition-delay: 0.4s;
  }
}
