@charset "utf-8";
@import "../helper/mediaquery.scss";

.skills {
  padding: 10rem 3rem;
  &__inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .skills-list {
      &__item {
        position: relative;
        padding: 0 0 3.5rem 2rem;
        opacity: 0;
        transform: translateY(-30px);
        transition: transform 0.6s ease, opacity 0.6s ease;
        .item__name {
          font-size: 1.3rem;
          font-weight: 700;
        }
        .item__detail {
          font-size: 1.1rem;
          line-height: 1.4rem;
          word-break: keep-all;
          padding-top: 1rem;
        }
      }

      &__item::before {
        content: "✔︎";
        display: inline-block;
        position: absolute;
        transform: translate(-24px, 0);
      }
    }
    .skills-list.active {
      .skills-list__item {
        opacity: 1;
        transform: translateY(0);
      }
      @for $i from 1 through 5 {
        .skills-list__item:nth-child(#{$i}) {
          transition-delay: $i * 0.2s;
        }
      }
    }
  }

  &__title {
    font-size: 3rem;
    letter-spacing: -0.25rem;
    opacity: 0;
    transform: translateX(-30px);
    transition: transform 0.6s ease, opacity 0.6s ease;
    b {
      font-weight: 900;
    }
  }
  &__inner.active {
    .skills__title {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    animation: bounce 1.3s infinite;
  }
}

@include desktop {
  .skills {
    padding: 10rem 1rem;
    &__inner {
      flex-direction: column;
    }
    &__title {
      margin-bottom: 5rem;
    }
  }
}

@include tablet {
  .skills__title {
    font-size: 2.2rem;
  }
  .skills__inner {
    .skills-list__item {
      .item__name {
        font-size: 1.1rem;
      }
      .item__detail {
        font-size: 1rem;
        line-height: 1.2rem;
      }
    }
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
