@charset "utf-8";
@import "../helper/mediaquery.scss";

.visual {
  width: 100%;
  height: 100vh;
  padding: 3rem;
  box-sizing: border-box;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 640px;
  background: url("../../src/images/bg_visual.jpg") no-repeat center;
  background-size: cover;
  &__inner {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 10;
    width: 100%;
    max-width: 1000px;
    .visual-text {
      width: 100%;
      .svg_text {
        width: 100%;
        margin: auto;
        margin-bottom: 2rem;
        #WEBPUBLISHERCHAWOORI {
          stroke-dasharray: 10063px;
          stroke-dashoffset: 10063px;
          animation: dash 100s ease forwards;
        }
      }
      &__word {
        font-size: 1.3rem;
        line-height: 1.8rem;
      }
    }
  }
  canvas {
    position: absolute;
    width: 100%;
    height: 25vh;
  }
}

@include tablet {
  .visual {
    padding: 1rem;
    &__inner {
      .visual-text {
        width: 100%;
        &__word {
          font-size: 1rem;
          line-height: 1.5rem;
        }
      }
    }
    canvas {
      height: 60vh;
    }
  }
}

.visual.fixed {
  z-index: -99;
  position: fixed !important;
}
